:root {
    --font-color: rgb(114, 111, 111);

}

body {
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
    text-align: center;
    font-size: 1.2rem;
    background-color: whitesmoke;
}

.nav-links a {
    color:rgb(27, 27, 27);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(113, 238, 255);
}
.button-link {
    border-radius: 20px;
    text-decoration: none;
    background-color: rgba(49, 192, 140, 0.822);
    padding: 15px;
    /* width: 120px; */
    color: white;   
    text-align: center;
}
h1,h2,h3,h4,h5 {
    padding: 0;
    margin: 0;
    color: black;
}

p {
    margin: 0;
    padding: 0;
    color: rgb(151, 148, 148);
}

.head {
    font-family: "Quicksand", cursive;
    font-weight: bold;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

section {
    padding-top: 8vh;
    padding-bottom: 8vh;
}
.section1 {
    gap: 20px;
    z-index: -10;
}
.section1-content {
    /* gap: 200px; */
    
}
.section1-images {
    z-index: -20;
}

.mock-up-images {
    z-index: -10;
    margin-top: -200px;
    background-image: url("/images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 95vw;
}

.section2 {
    background-color: rgb(220, 220, 221);
}

article a {
    color: black;
}

article a:hover {
    color: rgb(63, 202, 110);
}
.sec2-sub {
    gap: 30px;
}
.section3 {
    text-align: center;
}

.article-image {
    width: 100%;
}

.section3-text {
    text-align: left;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 0;
}
.section3 h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: 600;
    color:rgb(65, 65, 65);
}
.author {
    font-size: 0.9rem;
    font-weight: 300;
}

footer  * *{
    gap: 15px;
}

.footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
footer {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    background: rgb(59, 118, 206);
    padding-top: 3vh;
    padding-bottom: 3vh;
}

footer p {
   /* color: white; */
}
.footer-last {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.overlay {
    position: fixed;
    top: 7vh;
    height: 100vh;
    width: 100vw;
    background: rgba(12, 12, 12, 0.534);
    transition: 0.5s;
    
    width: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
}
.overlay-show {
    position: fixed;
    width: 100vh;
    /* height: 100vh; */
}
.nav-links{ 
    color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 0;
    overflow: hidden;
    position: fixed;
    background-color: white;
    top: 10vh;
    left: 0;
    right: 0;
    margin: auto;
    gap: 20px;
    transition: 0.5s
}
.nav-links-show {
    padding: 40px;
    width: 60vw;
}
.icon-menu-close {
    align-self: flex-end;
    justify-self: flex-end;
    padding: 20px;
}
.nav-links-sub {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 40px;
}
.nav-bar {
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 7vh;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 20;
}
.nav-request-btn {
    display: none;
}
.icon-menu-toggle {
    z-index: 20;
    transition: 5s;
}
.close-menu-icon {
    content: url("./images/icon-close.svg");
}


@media (min-width: 769px) {
    body {
        overflow-x: hidden;
        font-size: 1rem;
    }
    .button-link {
        border-radius: 30px;
        padding: 15px;
        width: 120px;
    }
    .nav-request-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        padding: 5px;
        width: 120px;
    }
    .icon-menu-toggle {
        display: none;
    }
    .nav-bar {
        padding-left: 10vw;
        padding-right: 10vw;
        align-items: center;
        justify-content: space-around;
    }
    .nav-links {
        width: 60vw;
        padding: 0;
        flex-direction: row;
        position: static;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .nav-links a {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border-bottom: 3px solid white; */
        box-sizing: border-box;
        border-bottom: 3px solid white;
        /* border-width: 3px; */
        transition: 0.1s;
    }
    .nav-links a:hover {
        color: black;
        border-bottom: 3px solid rgb(49, 233, 49);
    }
    .section1 {
        flex-direction: row-reverse;
        height: 60vh;
    }
    
    .section1 {
        width: 100vw;
        flex-direction: row-reverse;
        justify-content: flex-start;
        gap: 10vw;
    }
    .section1-content {
        text-align: left;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1vh;
    }
    .section1-images {
        z-index: 0;
        position: relative;
    }
    .mock-up-images {
        z-index: 100;
        margin-bottom: -200px;
        background-image: url("/images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top;
        object-fit: cover;
        width: 50vw;
    }
    .section2 {
        text-align: left;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100vw;
        padding-left: 10vw;
        padding-right: 10vw;
        gap: 200px;
        padding-top: 20px;
        box-sizing: border-box;
        padding-bottom: 20px;
    }
    .section2-head {
        width: 50%;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .section2-head h3{
        font-size: 2rem;
    }
    .sec2-sub {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 60px;
        width: 80vw;
        gap: 20px;
    }

    .section3 {
        text-align: left;
        flex-direction: column;
        padding-left: 10vw;
        padding-right: 10vw;
    }
    .section3-content {
        display: flex;
        gap: 2vw;
    }
    article {
        background-color: white;
        padding-bottom: 2vmax;
        font-size: 0.8rem;
        /* overflow-y: scroll; */
        display: flex;
        flex-direction: column;
    }
    .author {
        font-size: 0.5rem;
    }
    .article-image {
        height: 50%;
        object-fit: cover;
    }
    .section3-text {
        /* padding: 0; */
        padding: 20px;
        gap: 1vmin;
    }
    .section3 h2 {
        margin-bottom: 0;
        font-size: 2.4rem;
        font-weight: 600;
        color:rgb(65, 65, 65);
    }

    footer {
        flex-direction: row;
        
        justify-content: space-around;
        align-items: center;
        padding-left: 10vw;
        padding-right: 10vw;
        text-align: left;
    }

    footer  > .flex-column {
        text-align: left;
        align-items: flex-start;
    }

    .footer-last {
        align-items: flex-end;
    }   
}